{#
/**
 * @file
 * Template for the wishlist user form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="wishlist-user-form clearfix">
  {{ form.header }}
  <div class="wishlist-items">
    {% for key, item in form.items if key|first != '#' %}
      <div class="wishlist-item">
        <div class="wishlist-item__entity">
          {{ item.entity }}
        </div>
        <div class="wishlist-item__details">
          {{ item.details }}
          {{ item.details_edit }}
        </div>
        <div class="wishlist-item__actions">
          {{ item.actions }}
        </div>
      </div>
    {% endfor %}
  </div>
  {{ form|without('header', 'items') }}
</div>
